.a{
    height: 100vh;
    display: flex;
    align-items: center;
}

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    height: 100%;

}

.a-right{
    flex: 1;
}

.a-card.bg{
    position: absolute;
    top: 50px;
    left: 70px;
    background-color:#59b256;
    height: 600px;
}
.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: absolute;
    overflow: hidden;
}
.a-img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.a-right{
    padding: 30px;
}

.a-title{
    margin-bottom: 1.3rem;
    font-size: 3rem;
    display: flex;
    align-self: baseline;
}
.a-sub{
    margin-bottom: 1.3rem;
    font-size: 1.6rem;
    font-weight: bolder;
}
hr{
    margin-top: -1.7rem;
    margin-bottom: 1.7rem;
}

.socials{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 2rem;
}

.icon{
    width: 40px;
    height: 40px;
    background-color: white;
    border:1px dotted #59b256;
    border-radius: 50%;
    stroke: white;
    color: #59b256;
    padding: 16px;
    cursor: pointer;
}


/* responsiveness of the about section  */
@media screen and (max-width:480px){

    .a{
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    
    .a-left{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;
    
    }

    
.a-card.bg{
    position: absolute;
    top: 50px;
    left: 70px;
    background-color:#59b256;
    height: 600px;
}
.a-card{
    margin-top: 3rem;
    height: 30vh;
    width: 80vw;
}
.a-img{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
    width: 70%;
    height: 300px;
 
}

.a-card.bg{
    position: absolute;
    top: -59px;
    left: 50px;
    background-color:#59b256;
    height: 300px;
    width: 65%;
    bottom: 5rem;
}
.a-right{
    margin-top: 4rem;
    border-left: 2px solid #59b256;
    border-bottom: 2px solid #59b256;



}
.a-title{
    text-align: center;
    margin-left: 2rem;
    font-size: 43px;

}
.a-sub{
    font-size: 20px;
}
.socials{
    text-align: center;
    align-items: center;
    justify-content: center;
}
 .socials .icon{
    width: 50px;
    height: 50px;
 }   
    
}




